footer {
    display: grid;
    height: 40px;
    grid-template-columns: 40px 40px 40px auto 40px;
    grid-gap: 1em;
    position: absolute;
    bottom: 0px;
}

/* --------------- SOCIAL MEDIA ----------------- */
.social{
    width: 24px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    filter: grayscale(100);
}
  
.social:hover{
    width: 32px;
    margin-left:-4px;
    margin-top:-4px;
    transition: all 0.3s ease-in-out;
    filter: grayscale(0);
}
  
  
