/* class for proficiency name */
.proficiency {
  display: inline-block;
  width: 100px;
}

/* wrapper for meter*/
.proficiencyMeter {
    display: inline-block;
}

.bar {
    margin-left: 2px;
    border: 1px solid lightgray;
    padding: 3px;
    margin-left: 4px;
    border-radius: 3px;
  }
  
  .full {
    border: none;
    padding: 4px;
  }
  



