.card {
    position: relative;
    padding: 30% 0;
    overflow: hidden;
  }
  
  .card:hover .image {
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    transition: all 0.5s ease-in-out;
  }
  
  .card:hover .snapshot {
    opacity: .95;
    transform: translateY(calc(-100% + 50px));
    transition: all 0.5s ease-in-out;
  }

  .card:hover .projHeadline, .card:hover p{
    transform: translateY(80px);
    transition: all 0.5s ease-in-out;
  }

  .card .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 0.4s ease-in-out;
  }
  
  .card .snapshot {
    box-sizing: border-box;
    position: absolute;
    height:100%;
    width: 100%;
    bottom: calc(-100% + 50px);
    padding: 8px 24px 8px 24px;
    opacity: .95;
  }

  .skillBlock {
    justify-self: end;
  }

  .projHeadline {
    display: grid;
    grid-template-columns: auto 80px;
    padding-bottom: 16px;
  }

  @media only screen and (min-width: 768px) {
    .projHeadline {
      grid-template-columns: auto 100px;
    }
  }