#projectGrid {
    display: grid;
    gap: 4px;
  }

  @media only screen and (min-width: 1200px) {
    #projectGrid {
      grid-template-columns: repeat(2, 1fr);
    }  
  }

  @media only screen and (min-width: 1600px) {
    #projectGrid {
      grid-template-columns: repeat(3, 1fr);
    }  
  }