/* COLOR VARIABLES */
:root {
  --react:#39AAFF;
  --react-light:rgb(134, 241, 255);
  --js: #FFAA39;
  --js-light: #ffd839; 
  --html: #A939FF;
  --html-light: #e239ff;
  --node: #61d131;
  --node-light: #bbe677;
  --css: #FF398F;
  --css-light: #ff7789; 
}

.javascript {
  background: linear-gradient(-20deg, var(--js-light) 0%, var(--js) 100%);
}

.mysql {
  background: linear-gradient(-20deg, var(--html-light) 0%, var(--html) 100%);
}

.node {
    background: linear-gradient(-20deg, var(--node-light) 0%, var(--node) 100%);
}

.react {
    background: linear-gradient(-20deg, var(--react-light) 0%, var(--react) 100%);
}

.css {
    background: linear-gradient(-20deg, var(--css-light) 0%, var(--css) 100%);
}


/* CONTAINER MARGINS/PADDING */
body{
  margin: 0px;
  padding: 0px;
}

/* TEXT STYLING */
h1 {
  font-family: proxima-nova,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  /*letter-spacing: -3px;*/
  Text-transform: uppercase;
  margin: 0px;
}

h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  Text-transform: uppercase;
  margin: 0px;
}

h3 {
  font-family: proxima-nova-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  margin: 0px 0px 5px 0px;
}

p {
  font-family: proxima-nova,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

a {
  font-family: proxima-nova-condensed,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: var(--react);
  text-transform: uppercase;
  text-decoration: none; 
}

.bold {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* Light Text Class */
.light {
  color: white;
}

.right {
  text-align: right;
}

/* Media Query Styling Updates */

@media only screen and (min-width: 768px) {
  h1 {
    margin-bottom: 40px;
    font-size: 48px;
  }

  h2 {
    font-size: 26px;
  }

  h1, p {
    font-weight: 100;
  }  

}










